{% extends "manager_base/base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h3>{{company.name}}</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p class="fw-bold">Эл.почта: </p>{{ company.email }}</li>
                    <li class="list-group-item"><p class="fw-bold">Телефон: </p>{{ company.phone }}</li>
                    <li class="list-group-item"><p class="fw-bold">Дата создания: </p>{{ company.date_create }}</li>
                    <li class="list-group-item"><p class="fw-bold">Дата изменения: </p>{{ company.date_update }}</li>
                </ul>
            </div>
            <a href="{% url 'contact-create' company.id %}" class="btn btn-outline-primary btn-lg" style="width: 300px">Создать
                контакт</a>
            {% for contact in company.contact_set.all %}
            <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" style="width: 50px" type="button"
                        id="dropdownMenuButtonContact"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    ...
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'contact-update' contact.id%}"><i
                            class="bi bi-pencil-square"> Редактировать</i></a>
                    <a class="dropdown-item" href="{% url 'contact-delete' contact.id%}"><i
                            class="bi bi-trash3"> Удалить</i></a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>{{contact.name}}</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p class="fw-bold">Должность: </p>{{ contact.role }}</li>
                    <li class="list-group-item"><p class="fw-bold">Телефон: </p>{{ contact.phone }}</li>
                    <li class="list-group-item"><p class="fw-bold">Эл.почта: </p>{{ contact.email }}</li>
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="col">
            <a href="{% url 'create-comment' company.id %}" class="btn btn-outline-primary btn-lg" style="width: 300px">Создать
                комментарий</a>
            {% for comment in company.comment_set.all %}
            <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" style="width: 50px" type="button"
                        id="dropdownMenuButtonComment"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    ...
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'comment-update' comment.id%}"><i
                            class="bi bi-pencil-square"> Редактировать</i></a>
                    <a class="dropdown-item" href="{% url 'comment-delete' comment.id%}"><i
                            class="bi bi-trash3"> Удалить</i></a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <p class="text-primary">Дата создания: {{ comment.date_create|date:'m-d-Y H:i' }}
                    </p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                    <p>{{ comment.text }}</p>

                </div>
                <div class="card-footer">
                    {% if comment.date_next_call and comment.need_call == True %}
                    <p class="bg-primary text-white">Дата следующего звонка: {{ comment.date_next_call|date:'m-d-Y H:i' }}</p>

                                       {% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}