{% extends "manager_base/base.html" %}
{% load static %}
{% block content %}
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_text">Комментарий: </label>
        <input class="form-control" id="id_text" type="text" name="text" placeholder="Введите текст"
               style="width: 500px; height: 200px; margin-bottom: 20px" required >
    </div>
    <div class="form-group">
        <label class="form-check-label" for="id_need_call">
            Назначить дату следующего звонка?
        </label>
        <input class="form-check-input" id="id_need_call" type="checkbox" name="need_call" style="margin-bottom: 20px"  >

    </div>
    <div class="form-group">
        <label for="id_date_next_call">Дата следующего звонка: </label>
        <input id="id_date_next_call" type="datetime-local" name="date_next_call" disabled="true" style="margin-bottom: 20px">
    </div>

    <input id="submit" type="submit" value="Сохранить">

</form>
{% endblock %}




