{% extends "manager_base/base.html" %}
{% block title %}{{ title }} {% endblock title %}
{% block header %} {{ title }} {% endblock header %}
{% block content %}

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>Название компании</th>
        <th>Местоположение</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>Дата создания</th>
        <th>Дата обновления</th>
    </tr>
    </thead>

    <tbody>
    {% for company in companies %}
    <tr>
        <th scope="row">{{ company.id }}</th>
        <td><a href="{% url 'details-company' company.id%}"
            <button type="button" class="btn btn-link">{{ company.name }}</button>
            </a></td>
        <td>{{ company.location }}</td>
        <td>{{ company.email }}</td>
        <td>{{ company.phone }}</td>
        <td>{{ company.date_create }}</td>
        <td>{{ company.date_update }}</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" style="width: 50px" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    ...
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'company-update' company.id%}"><i
                            class="bi bi-pencil-square">  Редактировать</i></a>
                    <a class="dropdown-item" href="{% url 'company-delete' company.id%}"><i
                            class="bi bi-trash3">  Удалить</i></a>
                </div>
            </div>
        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}